<a href="https://colab.research.google.com/github/Mayro19/OOP-1-1/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [ ]:
class Birds:
  def __init__(self,birds_name):
    self.birds_name = birds_name
  def flying_birds(self):
    print(f"{self.birds_name} flies above the sky")
  def non_flying_birds(self):
    print(f"{self.birds_name} is the national bird of Australia")

vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above the sky
Common Crane flies above the sky
Emu is the national bird of Australia

Encapsulation

In [ ]:
class foo:
  def __init__(self,a,b):
    self.a = a
    self.b = b
  def add(self):
    return self.a + self.b
    
foo_object = foo(3,4)
foo_object.add()

7

Encapsulation(mangling with double underscore)

In [ ]:
class foo:
  def __init__(self,a,b):
    self.__a = a
    self.__b = b

  def add(self):
    return self.__a + self.__b
    
object_foo = foo(3,4)
object_foo.add()

object_foo.__a = 6
object_foo.__b = 7
object_foo.add()

7

In [ ]:
class Counter:
  def __init__(self):
    self.current = 0

  def increment(self):
    self.current += 1

  def value(self):
    return self.current

  def reset(self):
    self.current = 0

counter = Counter()

counter.increment()
counter.increment()
counter.increment()

print(counter.value())

3

In [ ]:
class Counter:
  def __init__(self):
    self.__current = 0
  def increment(self):
    self.__current += 1
  def value(self):
    return self.__current
  def reset(self):
    self.__current = 0

counter = Counter()

#counter.increment()
#counter.increment()
#counter.increment()
counter.__current = 1

print(counter.value())

0

Inheritance

In [ ]:
class Person:
  def __init__(self,firstname,surname):
    self.firstname = firstname
    self.surname = surname

  def fullname(self):
    print(self.firstname,self.surname)

person = Person("Miro","Angeles")
person.fullname()

class Student(Person):
  pass

person2 = Student("Orim","Oreo")
person2.fullname()

Miro Angeles
Orim Oreo

In [ ]:
class Person:
  def __init__(self,firstname,middlename, surname):
    self.firstname = firstname
    self.middlename = middlename
    self.surname = surname

  def fullname(self):
    print(self.firstname,self.middlename,self.surname)

person = Person("Miro","Go","Angeles")
person.fullname()

Miro Go Angeles

Polymorphism

In [ ]:
class RegularPolygon:
  def __init__(self,side):
    self.side = side
class Square(RegularPolygon):
  def area(self):
    return self.side * self.side
class EquilateralTriangle(RegularPolygon):
  def area(self):
    return self.side * self.side * 0.433

obj1 = Square(4)
print(obj1.area())

obj2 = EquilateralTriangle(3)
print(obj2.area())

16
3.897

Application 1

1. Create a Python program that displays the name of three students (Student 1, Student 2, and Student 3) and their term grades.
2. Create a class name Person and attributes - std1, std2, std3, pre,mid,fin
3. Compute the average of each term grade using Grade() method
4. Information about student's grades must be hidden from others

In [1]:
class Student:
  def __init__(self,std1fullname,pre,mid,fin):
    self.__std1fullname = std1fullname
    self.__pre = pre
    self.__mid = mid
    self.__fin = fin
  def student_grades(self):
    print(self.__std1fullname,self.__pre,self.__mid,self.__fin)

print("-","Students term grade for pre,mid,fin","-")

student1 = Student("Miro Angeles","8,","9,","8")
student1.student_grades()

class Student2(Student):
  pass

student2 = Student("Light Yagami","10,","10,","9")
student2.student_grades()

class Student3(Student):
  pass

student3 = Student("Hinata Shoyo","5,","7,","6")
student3.student_grades()

def Student1_Average(l): 
    avg = sum(l) / len(l) 
    return avg

print("-","Average of the three students","-")
  
std1_grades = [8,9,8] 
average = Student1_Average(std1_grades) 
  
print("Average of Miro Angeles is", average)

def Student2_Average(l): 
    avg = sum(l) / len(l) 
    return avg

std2_grades = [10,10,9] 
average = Student2_Average(std2_grades) 
  
print("Average of Light Yagami is", average)

def Student3_Average(l): 
    avg = sum(l) / len(l) 
    return avg

std3_grades = [5,7,6] 
average = Student3_Average(std3_grades) 
  
print("Average of Hinata Shoyo is", average)

- Students term grade for pre,mid,fin -
Miro Angeles 8, 9, 8
Light Yagami 10, 10, 9
Hinata Shoyo 5, 7, 6
- Average of the three students -
Average of Miro Angeles is 8.333333333333334
Average of Light Yagami is 9.666666666666666
Average of Hinata Shoyo is 6.0